<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Add Department</h2>
            <form method="post" action="/departments/add">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="departmentName">Department Name:</label>
                            <input class="form-control" id="departmentName" name="departmentName" type="text" >
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary pull-left" value="Add Department">
            </form>
        </div>
    </div>
</div>