<div class="container">
  <div class="row">
        <div class="col-md-12">
            <h2>Add Image</h2>            
            <form method="post" action="/images/add" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="firstName">Image File:</label> <br> <br>
                            <input class="form-control" id="imageFile" name="imageFile" type="file">
                        </div>
                    </div>
                </div>
                <br> <input type="submit" class="btn btn-primary pull-right" value="Add Image">
            </form>
        </div>
    </div>
</div>