<div class="row">
    <div class="col-md-12">
        <h2>Register</h2>
        <hr>       
        {{#if successMessage}}
            <div class="alert alert-success"> 
                <strong>Success:</strong> 
                {{successMessage}}
            </div>
            <a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Login&nbsp;&nbsp;&nbsp;</a>
            <br /><br /><br />
        {{else}}
            {{#if errorMessage}}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    {{errorMessage}}
                </div>
            {{/if}}
            <form method="post" action="/register">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="userName" name="userName" type="text" placeholder="User Name" required value={{userName}}>
                        </div>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm Password" required>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" required>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success pull-right" text="Register" value="Register">
            </form>
        {{/if}}
    </div>
</div>